
@media (max-width:1100px)
    .main-text 
        h1
            font-size: 2em !important
           
    .header
        flex-wrap: wrap !important
        width: 100% !important
        background: white  !important

        &-wrapper
            height: 8vh !important
   
    .logo
        position: relative !important
        display: flex !important
        justify-content: space-between !important
        align-items: center  !important
        width: 100% !important

        img
            max-width: 100% !important
            max-height: 100% !important
            display: block !important
            cursor: pointer !important
            max-height: 8vh !important

        .hamburger
            display:block !important
            margin: 0 !important

    .menu
            display:none !important
            width: 100% !important
            background: white !important
  
    .header-wrapper.active
        display: flex !important
        width: 100% !important
        flex-direction: column !important

        .menu 
            display: flex !important

            ul
                flex-direction: column !important
                display: flex !important

                li
                    margin: .5em auto !important
                    font-size: 1em !important
                    transition: 0.25s ease-in-out !important

            &-small 
                display: flex  !important

    .info-wrapper
        flex-direction: column !important
    
    .info-item
        width: 80% !important
        height: auto !important
        margin: 3em auto !important

        img
            margin: -1.8em auto 1em !important
        a
            margin: 2em 0  !important

    .about
        &-wrapper

            flex-direction: column !important
            img
                margin: 1em !important
                width: 95% !important
                height: auto !important
             

@media(max-width:850px)
    .main
        background-position: 78% center  !important
    .gallery
        .imgs 
            grid-template-columns: repeat(2,1fr)   !important
        .imgs-info
            text-align: center !important
        .osnovni
            display: flex !important
            flex-wrap: wrap !important
    .about 
        &-wrapper 
            img
                margin: 1em !important
                width: 90% !important
                height: auto   !important          
    .contact
        &-wrapper 
            flex-direction: column !important
            text-align: center !important
            &-order 
                h1
                    font-size: 2em !important
                h2
                    margin-bottom: 2em  !important     
            &-form-wrapper
                width: 100% !important
                .contact-form
                    padding: 1.5em !important
                

@media (max-width:600px)
    .gallery
        &-container
            .lb-back
                .lb-buttons
                    bottom: 70px  !important                 
    .info
        &-wrapper
            .info-item
                flex-direction: column !important
                // width: 80% !important
    .contact
       &-wrapper
            &-order 
                h1 
                    font-size: 1.5em !important
                h2
                    font-size: 1em !important
                
