
@media (max-width:1100px)
    .main-text 
        h1
            font-size: 2em
           
    .header
        flex-wrap: wrap
        width: 100%
        background: white

        &-wrapper
            height: 8vh
   
    .logo
        position: relative
        display: flex
        justify-content: space-between 
        align-items: center 
        width: 100%

        img
            max-width: 100%
            max-height: 100%
            display: block
            cursor: pointer
            max-height: 8vh

        .hamburger
            display:block
            margin: 0

        .menu
            display:none
            width: 100%
            background: white
  
    .header-wrapper.active
        display: flex
        width: 100%
        flex-direction: column

        .menu 
            display: flex

            ul
                flex-direction: column
                display: flex

                li
                    margin: .5em auto
                    font-size: 1em
                    transition: 0.25s ease-in-out

            &-small 
                display: flex 

    .info-wrapper
        flex-direction: column
    
    .info-item
        width: 60%
        height: auto
        margin: 3em auto

        img
            margin: -1.8em auto 1em
        a
            margin: 2em 0         
    .about
        &-wrapper
            flex-direction: column
            img
                margin: 1em
                width: 95%
                height: auto
             

@media(max-width:850px)
    .main
        background-position: 78% center   
    .gallery
        .imgs 
            grid-template-columns: repeat(2,1fr)  
        .imgs-info
            text-align: center
        .osnovni
            display: flex
            flex-wrap: wrap
    .about 
        &-wrapper 
            img
                margin: 1em
                width: 90%
                height: auto            
    .contact
        &-wrapper 
            flex-direction: column
            text-align: center
            &-order 
                h1
                    font-size: 2em
                h2
                    margin-bottom: 2em        
            &-form-wrapper
                width: 100%
                .contact-form
                    padding: 1.5em
                

@media (max-width:600px)
    .gallery
        &-container
            .lb-back
                .lb-buttons
                    bottom: 70px                  
    .info
        &-wrapper

            .info-item
                flex-direction: column
                width: 80%
    .contact
       &-wrapper
            &-order 
                h1 
                    font-size: 1.5em
                h2
                    font-size: 1em
                
